@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Lexend+Deca&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

h1 {
  color: hsl(192deg, 100%, 9%);
}

p {
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  padding: 10px;
}
ul li img {
  margin-right: 20px;
}

.btn {
  padding: 10px 35px;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 5px hsl(208deg, 11%, 55%);
  background-color: hsl(322deg, 100%, 66%);
  color: hsl(193deg, 100%, 96%);
  font-family: "Open Sans";
  cursor: pointer;
}
.btn:hover {
  opacity: 0.7;
}

.header {
  background-color: hsl(193deg, 100%, 96%);
  background-image: url(./images/bg-hero-desktop.svg);
  background-size: 100% 100%;
  padding: 0 50px;
}
.header .navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.header .navBar .btn {
  padding: 10px 35px;
  border: none;
  border-radius: 25px;
  box-shadow: 1px 1px 5px hsl(208deg, 11%, 55%);
  background-color: white;
  color: hsl(192deg, 100%, 9%);
  font-family: "Open Sans";
  cursor: pointer;
}
.header .intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.header .intro .desc {
  max-width: 40%;
  margin: 20px 0;
}
.header .intro .desc h1 {
  font-family: "Poppins";
  font-size: 40px;
  padding-bottom: 30px;
  line-height: 1.5;
}
.header .intro .desc p {
  font-family: "Open Sans";
  color: hsl(192deg, 100%, 9%);
  padding-right: 15px;
  font-size: 18px;
  padding-bottom: 20px;
}

.container {
  max-width: calc(100% - 130px);
  margin: 100px auto;
}
.container section {
  box-shadow: 1px 1px 10px hsl(208deg, 11%, 55%);
  border-radius: 10px;
  margin: 50px 0;
  padding-left: 150px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container section .desc {
  max-width: 40%;
  padding: 20px;
  margin-left: 130px;
}
.container section .desc h1 {
  padding-bottom: 10px;
  font-family: "Poppins";
}
.container section .desc p {
  color: hsl(208deg, 11%, 55%);
  line-height: 1.5;
}
.container section .image {
  max-width: 40%;
}

.card {
  width: 40%;
  box-shadow: 1px 1px 10px hsl(208deg, 11%, 55%);
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  z-index: 1;
  left: 50%;
  right: 50%;
  top: -10px;
  transform: translate(-50%, -50%);
  background-color: white;
}
.card h1 {
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Poppins";
}

footer {
  position: relative;
  background-color: hsl(192deg, 100%, 9%);
  color: hsl(193deg, 100%, 96%);
  margin-top: 160px;
  padding-top: 100px;
  padding-left: 130px;
  padding-right: 130px;
  font-family: "Open Sans";
}
footer .logo {
  padding: 20px 0;
}
footer .content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
footer .content .about li, footer .content .careers li {
  cursor: pointer;
}
footer .content .about li:hover, footer .content .careers li:hover {
  text-decoration: underline;
}
footer .content .social span {
  display: inline-block;
  padding: 10px;
  font-size: 30px;
  cursor: pointer;
}
footer .content .social span:hover {
  color: hsl(322deg, 100%, 66%);
}
footer p {
  text-align: right;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .header {
    background-image: url(./images/bg-hero-mobile.svg);
  }
  .header .navBar .logo {
    margin: 0 auto;
  }
  .header .navBar .tryIt button {
    display: none;
  }
  .header .intro {
    flex-direction: column;
    text-align: center;
  }
  .header .intro .desc {
    max-width: 100%;
  }
  footer .card {
    width: 340px;
    padding: 30px;
  }
}
@media (max-width: 880px) {
  .container {
    padding: 0 10px;
    max-width: 100%;
  }
  .container section {
    flex-direction: column-reverse;
  }
  .container section .desc, .container section .image {
    max-width: 100%;
    text-align: center;
    margin-left: 0;
  }
  footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .content {
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer .content .social {
    text-align: center;
    width: 50%;
    margin: 0 auto;
  }
  footer p {
    text-align: center;
  }
}/*# sourceMappingURL=index.css.map */