//COLORS
$pink: hsl(322, 100%, 66%);
$txt-btn: hsl(193, 100%, 96%);
$heading: hsl(192, 100%, 9%);
$parag: hsl(208, 11%, 55%);

//FONTS
//heading font
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Lexend+Deca&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Epilogue:wght@500;700&family=Lexend+Deca&family=Open+Sans:wght@400;700&family=Poppins:wght@600&family=Ubuntu:wght@400;500;700&display=swap');

$heading-family: 'Poppins';
$parag-family: 'Open Sans';